body{
    
    background-image: url(scarpbook1.jpg);
    
}



.box{
        position: relative;
        display: inline-block;
        width: 700px;
        top: -200px;
        margin-top: 5px;
    /* Make the width of box same as image */
    }
    .box .text{
        position: absolute;
        z-index: 999;
        margin: 0 auto;
        left: 0;
        right: 0;
        top: 20%; /* Adjust this value to move the positioned div up and down */
        text-align: left;
        width: 60%; /* Set the width of the positioned div */
    }


@font-face{
    
    font-family: 'Caveat', cursive;
    /*src: url("caveat-variablefont_wght.ttf");*/
}

h1{
  font-family: 'Caveat', cursive; 
  font-weight: bold;
  font-style: normal;
    
}


h2{
  font-family: 'Caveat', cursive; 
  font-weight: normal;
  font-style: normal;
    
}


p{
  font-family: 'Caveat', cursive; 
  font-weight: 100;
  font-style: normal;
  font-size: 20px;
    
}



.box2{
        position: relative;
        display: inline-block;
        width: 700px;
        top:300px;
    /* Make the width of box same as image */
    }
    .box2 .text2{
        position: absolute;
        z-index: 999;
        margin: 0 auto;
        left: 0;
        right: 0;
        top: 25%; /* Adjust this value to move the positioned div up and down */
        text-align: left;
        width: 60%; /* Set the width of the positioned div */
    }


.box3{
        position: absolute;
        display: inline-block;
        width: 200px;
        top:400px;
        left: 100px;
    /* Make the width of box same as image */
    }
    .box3 .text3{
        position: absolute;
        z-index: 999;
        margin: 0 auto;
        left: 0;
        right: 0;
        top: 25%; /* Adjust this value to move the positioned div up and down */
        text-align: left;
        width: 60%; /* Set the width of the positioned div */
    }


a{
    font-family: 'Caveat', cursive; 
  font-weight: 100;
  font-style: normal;
  font-size: 20px; 
  color: black;
  left: 100px;
    
}

a:active{
    color: black;
}

a:hover{
    color: black;
}


a:visited{
    color: black;
}



.box4{
        position: absolute;
        display: inline-block;
        width: 200px;
        top:400px;
        left: 400px;
    /* Make the width of box same as image */
    }
    .box4 .text4{
        position: absolute;
        z-index: 999;
        margin: 0 auto;
        left: 0;
        right: 0;
        top: 25%; /* Adjust this value to move the positioned div up and down */
        text-align: left;
        width: 60%; /* Set the width of the positioned div */
    }



.box5{
        position: absolute;
        display: inline-block;
        width: 200px;
        top:600px;
        left: 100px;
        transform: rotate(-10deg);
    /* Make the width of box same as image */
    }
    .box5 .text5{
        position: absolute;
        z-index: 999;
        margin: 0 auto;
        left: 0;
        right: 0;
        top: 25%; /* Adjust this value to move the positioned div up and down */
        text-align: left;
        width: 60%; /* Set the width of the positioned div */
    }


.box6{
        position: absolute;
        display: inline-block;
        width: 200px;
        top:600px;
        left: 400px;
    /* Make the width of box same as image */
    }
    .box6 .text6{
        position: absolute;
        z-index: 999;
        margin: 0 auto;
        left: 0;
        right: 0;
        top: 25%; /* Adjust this value to move the positioned div up and down */
        text-align: left;
        width: 60%; /* Set the width of the positioned div */
    }



.box7{
        position: absolute;
        display: inline-block;
        width: 200px;
        top:800px;
        left: 100px;
    /* Make the width of box same as image */
    }
    .box7 .text7{
        position: absolute;
        z-index: 999;
        margin: 0 auto;
        left: 0;
        right: 0;
        top: 25%; /* Adjust this value to move the positioned div up and down */
        text-align: left;
        width: 60%; /* Set the width of the positioned div */
    }



/*
@media screen and (max-width:960px){
    .box{
        display: inline-block;
        height:1000px;
        width:calc(0.333333 * (100% - 3rem));
        margin-right: 1rem;
        margin-bottom: 1rem;
        text-align: center;
    }
    
}


@media screen and (max-width:960px){
    .first{
        display:inline-block;
        height:1000px;
        width:calc(0.333333 * (100% - 3rem));
        margin-right: 1rem;
        margin-bottom: 1rem;
    }
    
}
*/



